.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

}
.menu ,.quiz{
  width: 500px;
  height: 500px;
  background-color: rgb(128, 150, 239);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu button,.quiz button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: rgb(241, 243, 252);
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: rgb(211, 211, 211);
  color: white;
}
